*{
    margin:0;
    padding:0;
    font-family: 'Roboto',sans-serif;
}

.container{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg);
    background-position: center;
    background-size:cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing:border-box;
}

.navbar{
    height:12%;
    display:flex;
    align-items:center;
}

.logo{
    width:50px;
    cursor:pointer;
}
.menu-icon{
    width:30px;
    cursor:pointer;
}
nav{
    flex:1;
    text-align:right;

}
nav ul li{
    list-style:none;
    display:inline-block;
    margin-left:60px;   
}

.row{
    display:flex;
    height:88%;
    align-items:center;
}
.col{
  flex-basis: 50%;
}

h1{
    color:#fff;
    font-size: 11px;
    line-height:15px;
}
p{
    color:#fff;
    font-size:11px;
    line-height:15px;
}
button{
    width:180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border:0;
    border-radius: 20px;
    outline: none;
    margin-top:30px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius:10px;
    padding:15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 15 px;
    
    background-position: center;
    background-size: cover;
    transition:transform 0.5s;
}

.card1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_2ULtJndWbN0OZgpFsa1pg92kygJa4F1L33lh5XUXLwf_vxzk3jHhn8OOHO23Elr0Qyk&usqp=CAU);
}

.card2{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScJL1BPtfV971n2l68y-lpuWbCqAhtIBRKmSBw8gb-Ig&s);
}
.card3{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGJrq2KLnqD0zhdXukaHUKXADIxRzzkI_7FFYAejXMKKHdChBhNs_6cTSYdjGdSLftsFI&usqp=CAU);
}
.card4{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU7meA5D2zTuj9AECjEQR6lv9C0PTa5BU4k4IkxNxOFg&s);
}

.card:hover{
    transform:translate(-10px);
}
h5{
    color:#fff;
    text-shadow: 0 0 5px #999;
}

.card p{
    text-shadow: 0 0 5px #000;
    font-size: 8px;
}
